* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: 0;
  text-decoration: none;
}
header {
  background-color: #cdf2d6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}

header .logo img {
  width: 75px;
}

header .busca {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  background-color: #97c4ad;
  border-radius: 10px;
  margin-left:5% ;
}
header .busca input {
  width: 700px;
  height: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: #97c4ad;
  border: 2px solid #97c4ad;
  color: #e6fcd9;
}

header .busca input::placeholder {
  color: #e6fcd9;
}
header .busca img {
  width: 20px;
  height: 20px;
  margin: 10px;
  color: #e6fcd9;
  cursor: pointer;
}

header .menu a {
  padding: 10px;
  color: #8E978D;
  font-weight: 500;
  font-size: 15px;
  transition: 0.4s;
}

header .menu a:hover {
  background:#97c4ad;
  border-radius: 30px;
  color: #e6fcd9;
  transition: 0.4s;
}

.container .banner {
  background-image: url(../img/RECICLAGEM.jpg);
  background-repeat: repeat-x;
  background-position:left top;
  height: 100vh;
}

/* .container .mapa {
  background-color: #97c4ad;
  height: 600px;
  width: 600px;
  border-radius: 30px;
} */

/* .container .banner {
  display: flex;
  align-items: center;  
  justify-content: space-around;
} */

footer {
  background-color: #cdf2d6;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .icons {
  margin: 15px;
}
footer .icons img {
  width: 64px;
  margin: 20px;
}
footer .icons .topicos {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .icons .topicos a{
  color: #8E978D;
  padding: 10px;
  margin: 20px;
  font-weight: 500;
  font-size: 18px;
  transition: 0.4s;
}

footer .icons .topicos a:hover {
  color: #e6fcd9;
  background: #97c4ad;
  border-radius: 30px;
  transition: 0.4s;
}

footer .direitos {
  text-align: center;
  color: #8E978D;
  font-size: 18px;
  font-weight: 500;
}